ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin: 25px;
    padding: 25px;
   
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #808080;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
thead {
    background-color: #808080;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}

thead, td {
	
    padding: 16px 32px;
    text-align: left;
}
table {
	
    float: left;
    
    margin: 25px;
    padding: 25px;
}

div.gallery1 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    margin: 100px;
    padding: 50px;
   
}


